[2016-02-02 10:17] csvirume opened #1 "Error: no such packet"
Hi macollina,

I need some help in implementing redis persistance (QoS2) . I am using following version of aedes and redis persistence.

"aedes": "^0.12.4",
"aedes-persistence-redis": "^1.0.3",

I am getting following error while subscribing with _clean : false_ and _QoS 2_.

_2016-02-02T10:02:39.277Z - info: new client andr_766a0ee9f38e6061
2016-02-02T10:02:39.277Z - info: message published from

[2016-02-02 10:20] mcollina commented on #1
Can you please post an example that triggers the problem?

[2016-02-02 11:30] csvirume commented on #1
Thanks mcollina for the reply . I am adding more details below.

First Scenario : When I try to establish a new connection to broker from a client with clean : false. I believe Redis might have some data from previous session which its not able to find.

Second Scenario : Once I FLUSHDB then I am subscribing to a Topic with client. Another client calls an API and server publishes some data to the

[2016-02-02 11:36] mcollina commented on #1
Can you please upload MQTT.js/mqtt-packet code to trigger this consistently? It would help making sure that any fix I do fixes it correctly.

Are you on the latest versions of both aedes and aedes-persistence-redis?

[2016-02-02 15:14] csvirume commented on #1
Hi mcollina,

I am adding details below. Please let me know where am I making mistake. yes I am using latest versions.

"aedes": "^0.12.4",
"aedes-persistence-redis": "^1.0.3",

Here is the server config

({
        port: 6379,          // Redis port 
        host:config.REDIS_CONNECTIONURL   // Redis host
    })

    var aedes = require('aedes')({
        persistence: redispersistence
    });

[2016-02-03 08:33] #1 closed

[2016-02-03 08:34] mcollina commented on #1
It should be fixed in 1.1.1.

[2016-05-20 13:36] mohkar opened #4 "parameter not accepting all the ioredis options"
Hi Mcollina,

As per the documentation, I tried using
`var redisPersistence = require('aedes-persistence-redis')(6379, '192.168.1.1');` but I was not able to connect to redis.

[2016-05-20 14:16] mcollina commented on #4
This is what is currently supported, I'll update the docs:

[code]

[2016-05-20 14:17] #4 closed

[2016-08-17 14:14] mohkar opened #7 "Persistence not flushing db"
Hi Mcollina,

I am facing issues in test cases since individual test case's data stored in redis is being used by the next case, causing test cases to fail.
I realised that in each test case instance.destroy() is being called but the destroy method just clears aedes-cached-persistence data and disconnects redis.
This issue gets solved if I used **db.flushdb()** in destroy() method. This will make

[2016-08-17 14:23] mohkar commented on #7
The other way could be, if I call persistence._db.flushdb() inside each test case before ending the test case.

[2016-08-17 14:38] mcollina commented on #7
Have a look at how https://github.com/mcollina/aedes-persistence-mongodb/blob/master/test.js does it. We can't put `flushdb` in `destroy`, because otherwise that might do bad things in production.

[2017-01-06 05:50] rasalasantosh opened #10 "Using aedes-persistence-redis with Aedes resulting in slow client connections."
When aedes-persistence-redis  used as persistence with Aedes , client connections are very slow . For 20k client connections it was taking around 10 minutes.But without persistence configured,connections are very fast around 50 k connection in less than a minute.

Please find the code below used to run aedes server.

var redis = require('mqemitter-redis');
var aedesPersistenceRedis = require('aede

[2017-01-06 11:12] mcollina commented on #10
Can you upload a Node.js script to reproduce the problem?

[2017-01-06 11:28] rasalasantosh commented on #10
I don't have Node.js script ,I have tried with java based client program.

[2017-01-06 11:30] mcollina commented on #10
anything that can reproduce the problem is good, otherwise it will be extremely hard to fix.

[2017-01-06 11:30] mcollina commented on #10
cc @GavinDmello

[2017-01-06 20:00] GavinDmello commented on #10
Yea. This is an issue. We have a lot of anonymous functions in persistence which is preventing optimizations, I think. Also,  ResultsHolder from fastSeries always seems to be un-optimized.

[2017-01-07 09:36] mcollina commented on #10
@GavinDmello removing the anon functions should be feasible, do you want to send a PR? Mostly are forEach/Reduce etc, that needs to be changed into straight for loop.

ResultsHolder should be optimized if the rest is optimized. There might be a small issue somewhere in there too.

At any rate, we need a script to verify this problem is fixed.

[2017-01-07 14:29] GavinDmello commented on #10
@mcollina Yea. That would be cool. I'll make a PR
@rasalasantosh Could you share that java script ? Would be helpful.

[2017-01-09 04:51] rasalasantosh commented on #10
@mcollina , kindly share the client script that you have used to test 900 k connections , so that i modify according to my use case and test.

[2017-01-09 06:26] mcollina commented on #10
@rasalasantosh as said elsewhere, I did not do that test myself.

[2017-01-10 13:27] mcollina commented on #10
@rasalasantosh can you try version v2.6.1 and see if it improves things?

[2017-01-11 07:09] rasalasantosh commented on #10
@mcollina  , is it redis v2.6.1?If so will try and let you know.

[2017-01-11 07:10] GavinDmello commented on #10
@rasalasantosh v2.6.1 of this module

[2017-01-11 08:11] rasalasantosh commented on #10
@GavinDmello , I installed aedes using npm i aedes aedes-persistence-redis@2.6.1 --save and tried again.

It will still taking around 11 minutes for 25k connections , but without persistence it was taking less than a minute for 50k connections.

And also tried with mosca with persistence ,it was taking around 3 minutes for 25k connections.

[2017-01-11 09:42] mcollina commented on #10
@rasalasantosh are you connecting with what options? are you also subscribing to a topic?

[2017-01-11 10:47] rasalasantosh commented on #10
@mcollina ,yes after connection successful ,iam subscribing to topic as well.

[2017-01-13 08:05] mcollina commented on #10
@rasalasantosh you should check v2.6.3, it has lua script caching, which should improve the throughput.

[2017-01-13 12:11] rasalasantosh commented on #10
@mcollina , I have tested again ,but giving the same results i.e. 11min for 25k connections.

[2017-01-13 13:29] mcollina commented on #10
@rasalasantosh are you connecting with what options? are you also subscribing to a topic?
From our test, it takes _just_ 30 seconds to connect 20k connections, so maybe something else is happening.

[2017-01-16 06:05] rasalasantosh commented on #10
@mcollina , iam connecting with clean session =true , QoS=1,keepalive - 60 sec .And also after connecting we will be subscribing to topic which is same as clientId.

[2017-01-16 06:29] GavinDmello commented on #10
@rasalasantosh Could you try it with this ?  https://gist.github.com/GavinDmello/dda612661df4db11ba84b41097470c95
It's not currently subscribing to a topic and clean is true.

[2017-01-16 14:12] rasalasantosh commented on #10
@GavinDmello ,  Aedes is taking 142 sec to connect without subscriptions,but 1360 sec to connect with subscriptions.
Tested the same with mosca ,it is taking 190 sec without subscriptions ,but 205 sec with subscriptions.

Please find the script below  that is used to test subscriptions.

[client-sub.txt](https://github.com/mcollina/aedes-persistence-redis/files/708579/client-sub.txt)

[2017-01-16 14:50] mcollina commented on #10
@rasalasantosh with Redis configured as persistence, is it correct?

I think the `createRetainedStream` is where the problem is: https://github.com/mcollina/aedes-persistence-redis/blob/master/persistence.js#L98-L105. I'll try to send a PR to improve things

[2017-01-16 19:58] mcollina commented on #10
@rasalasantosh check v2.6.4.

[2017-01-17 05:42] rasalasantosh commented on #10
@mcollina with v2.6.4 getting same results.

[2017-01-17 05:51] GavinDmello commented on #10
@rasalasantosh Try removing all unwanted keys from redis. Also, is redis working  on the same box ? Maybe you're running out of memory.

[2017-01-17 06:29] rasalasantosh commented on #10
@GavinDmello ,I tried after flushing redis,but getting same results . More over redis , Aedes and client are running in seperate instances.

[2017-01-17 08:06] mcollina commented on #10
Mosca is using an hashtable for the retained messages, while we are just using keys and h here. https://github.com/mcollina/mosca/blob/master/lib/persistence/redis.js#L241-L267.

Maybe that's the approach we should take here as well. I _thought_ using SCAN was smart

[2017-01-20 15:33] toddtreece commented on #10
@mcollina i'm wondering if this is due to the lua script. we eventually run into issues in production once the subscription count hits a certain point. i missed this section in the redis docs when testing the lua changes: **...while the script is running no other client can execute commands**.

from the redis docs:

[2017-01-20 16:23] mcollina commented on #10
@toddtreece that is probably the reason.
So, do you think we should revert https://github.com/mcollina/aedes-persistence-redis/pull/3?

[2017-01-20 16:30] toddtreece commented on #10
@mcollina yeah, i think so.

[2017-01-20 16:36] GavinDmello commented on #10
Would using scan stream guarantee ordered delivery ? I think we should try leveraging hashmaps.

[2017-01-24 08:43] jskim82 opened #17 "ioredis cluster option support?"
The modules I have configured are shown below.
3 aedes Node Server(port : 1883) pm2 Cluster
1 Nginx Server(port : 40379) Load Balancer
3 Redis Master(port : 41379, port : 42379, port : 43379)

Process :  Aedes -> Nginx -> Redis

Case 1 : Load Balancer Direct Connect

var aedesOption = {
	  concurrency       : 1000
	, connectTimeout    : 60000
	, heartbeatInterval : 600000
};
aedesOption.persistenc

[2017-01-24 18:13] mcollina commented on #17
There is an open PR about that in #6. It's not finished yet, and this codebase is in a moment of shift.
See also #10.

[2017-01-25 00:02] jskim82 commented on #17
Thx

[2017-02-05 19:16] GavinDmello commented on #10
@matteo I think instead of moving the entire thing to scan stream, we should probably try moving createRetainedStream and check for improvements.

[2017-02-05 21:44] mcollina commented on #10
Yes, that's probably a good idea!

[2017-02-14 18:26] mcollina commented on #10
@rasalasantosh @toddtreece would you mind testing out v2.6.6. It should be _way_ more performant.

[2017-04-26 15:21] GavinDmello opened #26 "Update ioredis to latest v3.0.0-1"

[2017-05-18 23:58] lpfeup commented on #26
[ioredis@3.0.0](https://github.com/luin/ioredis/releases/tag/v3.0.0) released.

[2017-05-19 07:30] mcollina commented on #26
@lpfeup would you mind to send a PR?

[2017-05-19 12:46] lpfeup commented on #26
Done. [PR #27](https://github.com/mcollina/aedes-persistence-redis/pull/27)

[2017-05-19 13:07] mcollina commented on #26
Released

[2017-05-19 13:07] #26 closed

[2017-05-31 15:38] behrad opened #28 "startup is limited to 10000 clients"
https://github.com/mcollina/aedes-persistence-redis/blob/master/persistence.js#L324

[2017-06-01 07:47] mcollina commented on #28
would you fire a PR to address this issue?

[2017-06-17 23:04] behrad commented on #10
Very bad subscription performance confirmed! 👎
there are definitely some issues:
1. storeSubscriptions looks to be called for each sub, but its using packet.subscriptions when calling `.add`: https://github.com/mcollina/aedes/blob/master/lib/handlers/subscribe.js#L63 this multiplies subscriptions!

[2017-06-17 23:08] behrad commented on #10
2. Why `addSubscriptions` is `rpush`ing always? everytime on every resubscribe sub is appended to the list: https://github.com/mcollina/aedes-persistence-redis/blob/master/persistence.js#L137
I don't understand the rationale behind this list? mosca's way of using HSCAN was fully ok, wasn't it?

[2017-06-17 23:12] behrad commented on #10
Third item is not a BUG, but also a redundant data structure:
3. Why we are storing a reverse key for each sub? (i.e `hset sub:client:topic clientId encoded`) this keys are never used, they are only written when addSubscription and deleted when removeSubscription!!!

[2017-06-17 23:29] behrad commented on #10
There's no `restoreSubscription` after client connect, and the same handleSubscribe is called after connect to restoreSubscriptions, and when a client subscribes.
So if a `clean=false` client subscribes after each of it's connects, `aedes` will run `handleSubscribe` twice

[2017-06-18 09:02] behrad commented on #10
Another issue is `handleSubscribe` is calling `doSubscribe` in series for each client subscription!!
first I don't think there's a need for async series, second and most important: this leads underlying persistent implementation to store subscriptions 1-by-1, however it could be very more performant if redis persistent could store them all in one batch! (as mosca does)

[2017-06-18 09:04] behrad commented on #10
I've playing and changing some code in `aedes` and `aedes-persistence` and even `aedes-cache-persistence`.
Aedes should change some API abstractions to overcome this. Are you ok with this @mcollina ?

[2017-06-18 09:36] mcollina commented on #10
I'm ok with changes, as long as they are ported to the other subscriptions as well.

[2017-06-18 09:37] mcollina commented on #10
(sorry I was from mobile)

[2017-06-18 10:00] GavinDmello commented on #10
@behrad How many subscriptions are dealing with ? I did not use any SCAN/HSCAN implementation of redis because, if count  is not set to an optimum value the performance isn't good.  Also the redis server was doing a lot of heavy lifting in terms of CPU , when many servers are aedes instances are connected

[2017-06-18 10:15] behrad commented on #10
may be a few millions in production, however current implementation of aedes persistence [redis] will rise issues around a few hundred thousands.

please check mosca's redis implementation here: https://github.com/mcollina/mosca/blob/master/lib/persistence/redis.js#L137

This may be an issue with the core arch/design of a multi process/instance around a single shared redis model. I believe `aedes-

[2017-06-18 11:37] GavinDmello commented on #10
I think you can fetch all keys in a list with a -1 arg. My concern is using SCAN in hot paths. The count 25000 which is present in mosca may be good enough for a few million keys but as the subscriptions increase the number will have to be bumped .
Nutcracker can't be used with multi at the moment.

[2017-06-18 12:53] behrad commented on #10
You mean `LRANGING` a million sized list is faster than SCAN?
if yes, how much faster? does it worth the redundancy (in large deployments redis memory is valuable)
and why not a SET? why LIST? and there should be some `dedup` login inside using a list. currently it is duplicating subs on each handleSubscribe

that is the chunk buffer size, and my tests show that should be lowered even to 5000 or l

[2017-06-18 14:16] mcollina commented on #10
I'm 👍 on removing MULTI, I do not think it would cause any issue in practice.

[2017-06-18 15:19] GavinDmello commented on #10
Set would've been a good option. I wasn't aware of the handleSubscribe issue

I'm okay with this if nutcracker support is added.

[2017-06-21 11:44] GavinDmello commented on #10
@behrad SCAN is not supported on Nutcracker as well.
[code]
SSCAN, ZCAN, HSCAN is supported though

[2017-06-23 12:49] behrad commented on #10
Unfortunately yes, and seems we SHOULD have a container for all subs/clients:
1. SET is preferred since it does the dedup for topics
2. For storage/memory optimization I think we should store only one index, either subs or clients. and calculate/implement needed abstract persistence interface methods.

currently, this module is storing both. e.g. a client's subscription is stored both inside clien

[2017-06-29 12:51] behrad commented on #10
To test further, i migrated my current actual subscription data (under mosca), to aedes format under redis. When I launch aedes, memory grows until process halts. I noticed the `_setup`  has some issues. However when I moved the same code inside _setup (to `hgetallbuffer` all topic keys, but without the process part) and ran it isolated in a single node.js file. It worked! it took 67606.250ms to `

[2017-06-29 14:12] behrad commented on #10
My heap dump shows it's inside `SingleCaller` ->  thoughtv's ```fastparallel` usage

[2017-06-29 14:16] mcollina commented on #10
You don't need to use streams here. You will get some speed bump from removing them.

[2017-06-29 14:41] GavinDmello commented on #10
@mcollina Could it be qlobber ? We're adding all the decoded packets to qlobber versus the topic.

[2017-06-29 14:49] mcollina commented on #10
@GavinDmello not sure, but I don't think so.

[2017-06-29 15:01] behrad commented on #10
So strange!!! I figured it out: `NODE_ENV=development`
the difference between two runs was NODE_ENV! and when it's set on development, two things was happening:
1. thoughtv was introducing a memory leak (as I mentioned inside it's fastparallel SingleCaller) changing it to through fixed that.
2. A 10x speed reduction!!! I can't figure this out yet. Some module's development inspection (may be iored

[2017-06-29 15:06] behrad commented on #10
by removing streams and putting `hgetallbuffer`  inside a for loop, it gets faster, however it won't scale memory wise, we need a huge memory footprint on aedes startup and process freezes until persistence is ready.

[2017-06-29 15:09] mcollina commented on #10
You can use something like http://npm.im/fastq.

[2017-06-29 15:42] behrad commented on #10
My benchmarks ran just now:
`
through(stream)                   70 secs
forloop:                                 86 secs
fastq(concurrency=1)         126 secs
fastq(concurrency=100)       67 secs
fastq(concurrency=1000)     84 secs
fastq(concurrency=10000)   91 secs
`
So it seems changing to fastq won't help that much :)

Before I go and test with Qlobber code activated, there are some optimizitio

[2017-06-29 15:58] mcollina commented on #10
on your results, can I see your code?

on 1. go ahead!

on 2. I'm really against going multi-process. This is very deployment specific.

on 3. Aedes does not listen automatically. That part of logic in Mosca was super complicated, so it's up to you. If you want to send an update to the README, go ahead. If we are missing some events for this, please send a PR and we'll add them.

[2017-06-29 16:05] behrad commented on #10
1. stream code is same as the above snippet (obtained from current aedes' code)
2. for loop, removes `through`  and calls `hgetallbuffer` inside smembers callback.
3. fastq is something like this:
[code]

So, I'll suspend this, and go for more priority tasks like number 1.

Great. I should check if persistence api already exposes `ready` .

[2017-06-29 16:10] mcollina commented on #10
I think 1. might be the path that leads to the best benefits.

[2017-06-29 16:16] behrad commented on #10
Yes, sure.

Can you clarify me also on these extra details @mcollina ?

1. Why are you using `thoughtv` instead of `though2` ? The same could've been achieved by `through2`

2. Can we play with concurrency of `thought.obj` by setting a hightWaterMark?

3. Why are using `pump`, how it helps?

[2017-06-29 16:34] mcollina commented on #10
throughv parallelize, through2 does things in series.

you can play with throughv concurrency by setting a highWaterMark.

pump makes sure all streams are closed if one errors.

[2017-06-29 17:04] behrad commented on #10
thank you man 👍

[2017-07-01 20:09] behrad opened #29 "processKeysForClient should not be working"
I think [this](https://github.com/mcollina/aedes-persistence-redis/blob/master/persistence.js#L352) is a typo and should be `raw = all[key]`.

I can also fix this in my PR if approved.

[2017-07-02 10:16] mcollina commented on #29
Yes! Can you send a PR with a unit test that covers it?

[2017-07-03 08:58] behrad opened #30 "storing QOS=0 subscriptions?"
1. I noticed [we are storing qos=0 subs](https://github.com/mcollina/aedes-persistence-redis/blob/master/persistence.js#L132). Why?

2. there is a contradiction in abstract tests also
[ this test](https://github.com/mcollina/aedes-persistence/blob/master/abstract.js#L336) checks if qos=0 subs aren't counted! but [this](https://github.com/mcollina/aedes-persistence/blob/master/abstract.js#L259) & [

[2017-07-03 10:30] mcollina commented on #30
The code is implemented in a way that QoS 0 subscriptions are restored on reconnect, but there is no offline messaging involved. As the spec says.

[2017-07-03 10:30] #30 closed

[2017-07-03 10:47] GavinDmello commented on #30
@mcollina  should the  qos 0 subscription be deleted when the user disconnects? Right now it remains in the client:sub hashmap.

[2017-07-03 11:30] mcollina commented on #30
It should follow the same route of any other qos 1 subscription, so if that's not happening let's fix it.

[2017-07-03 11:52] behrad commented on #30
Can you also check this guys? https://github.com/mcollina/aedes-persistence-redis/pull/31

[2017-07-03 11:58] behrad commented on #29
this is covered inside new implementation [here](https://github.com/mcollina/aedes-persistence-redis/pull/31)

[2017-07-03 13:11] #29 closed

[2017-07-09 19:46] behrad commented on #10
This issue should be resolved by #31

[2017-07-12 12:13] #28 closed

[2017-07-12 12:13] behrad commented on #28
fixed by https://github.com/mcollina/aedes-persistence-redis/pull/31

[2017-07-13 12:46] behrad opened #33 "memory cached `Retained`"
What about a caching option to cache the `retained` hash key inside memory @mcollina ?
This way `createRetainedStream` won't touch redis on each CONNECT, I believe this really improves on a crowded environment. What dya think @GavinDmello ?

[2017-07-13 12:50] mcollina commented on #33
Oh you mean caching all the retained messages like we do the tree of subscriptions?

[2017-07-13 12:56] GavinDmello commented on #33
Would this be a fixed size cache?

[2017-07-13 13:41] behrad commented on #33
yea, in the simplest form all the hash can be inside an javascript object, so instead of HGETing `retained` key, we iterate over `Object.keys(retainedCache)`. We simply sync the catch with redis retained key on writes. However this could be handled inside `aedes-cached-persistence` to work on all persistences.

We can use a Bounded list, or even warn the user to turn off caching in a retained heav

[2017-07-13 15:47] mcollina commented on #33
@behrad how would you keep that cache updated?

[2017-07-13 16:16] behrad commented on #33
on `storeRetained` the memory cache is also updated.

Let me create a simple PR to show this...

[2017-07-16 07:34] behrad opened #35 "Rethinking QOS1 publish implmentation"
Current implementation for QOS=1 messages is as below:

1. outgoingEnqueue:
[code]

2. outgoingUpdate:
[code]

3. outgoingClearMsgId:
[code]

I want to propose a more lighter schema, however let me ask some questions first @mcollina @GavinDmello

1. When [this path](https://github.com/mcollina/aedes-persistence-redis/blob/master/persistence.js#L362) runs? I mean on which cases we have no brokerId

[2017-07-16 08:49] mcollina commented on #35
Message delivery in QoS 1 and 2 must pass through the storage by the spec. QoS 1 and 2 guarantee that if the broker does not receive an ack, the message will be resent when it comes online. As long as this is still supported, I'm ok with any improvements, but I am a bit scared when you say that there is a single broker process involved.

It is quite possible that a memory mapping would work, and w

[2017-07-16 09:45] behrad commented on #35
outgoingStream will always do the same job until packet is removed from client's LIST, if you mean the samething

I meant there's no way two broker processes involve in between a successful forward/puback sequence, since a single client is connected to only one broker at the same time, and forward/puback is done in a single session.

I want to clarify two points:
1. Can you answer my first questio

[2017-07-16 10:55] mcollina commented on #35
That path is run with the QoS 2 flow, if I remember correctly.
Il giorno dom 16 lug 2017 alle 10:45 Behrad <notifications@github.com> ha
scritto:

[2017-07-16 15:57] behrad commented on #35
My single concern is now, can we not to store `messageId` and handle it in memory?
let me explain it another way:

Can a packet streamed with `outgoingStream` not contain a `messageId` when it reaches client, from the MQTT client spec point of view?

[2017-07-16 16:28] mcollina commented on #35
I think it is needed, maybe only for QoS 2 as I am not sure on QoS 1.

[2017-07-17 08:03] behrad opened #36 "Re-implementation for QOS=1 & QOS=2"
Changes made regarding https://github.com/mcollina/aedes-persistence-redis/issues/35 & https://github.com/mcollina/aedes-cached-persistence/issues/5

1. new API `aedes-persistence#outgoingEnqueue(subs, packet, cb)` with default implementation in aedes-cached-persistence (PR will be linked here) to let the persistence decide on the bulk subscriptions. Aedes will also be provided with a PR containin

[2017-07-17 08:04] behrad commented on #36
dup of #37

[2017-07-17 08:04] #36 closed

[2017-07-21 11:07] behrad opened #40 "configurable TTL support"
Add custom, non-standard configurable option to redis-persistence to support TTL on packet storage, subscription storage.

1. configuration can be both instance wide, and per message/subscription. For the later caller can pass `ttlForMessage` and `ttlForSubscription` function hooks which synchronously return ttl value for input message/sub argument.

2. client keys are also stored in a separate li

[2017-07-30 17:38] davedoesdev opened #41 "Error in test"
How do I test this?

[code]

[2017-07-30 18:01] mcollina commented on #41
tests were passing here. Which OS are you using?

cc @behrad

[2017-07-30 18:55] davedoesdev commented on #41
Ubuntu 17.04. Failure is intermittent (sometimes I get all tests passing)
but happens regularly.

On 30 July 2017 at 19:01, Matteo Collina <notifications@github.com> wrote:

[2017-08-02 21:27] davedoesdev commented on #41
Cause is not waiting for `ready` event here:

https://github.com/mcollina/aedes-persistence/blob/master/abstract.js#L34

This means `_setup` can still be active, which means `smembers` can still be pending:

https://github.com/mcollina/aedes-persistence-redis/blob/master/persistence.js#L279

which means when the test destroys the instance and the TCP socket closes, there are pending commands and s

[2017-08-10 20:30] #41 closed

[2017-08-19 09:12] mcollina commented on #35
This can be closed, done in #37!

[2017-08-19 09:12] #35 closed

[2017-08-21 07:54] #40 closed

[2017-09-22 13:21] cordovapolymer opened #45 "redis grows big in memory"
Hi, @mcollina @GavinDmello @behrad
redis is growing in the memory, now it's over 1.2GB(I've limited its size to 2GB, and set it to delete least recent used keys), but I have seen it grow even to 4GB and crash afterwards.
I tried to find out what's taking so much memory with
`redis-cli --scan --pattern '*'`
and saw this:

[code]

I'm using MQTT with qos 1, what are all these messages, why are they

[2017-09-25 19:44] behrad commented on #45
YES, if you're clients are not clean, and subscribe with QOS=1

you can either 1) use packetTTL to force them expire after a timeout 2) write a manual FLUSH/DEL packet when a client gets destroyed!

[2017-11-06 08:47] #45 closed

[2018-07-05 12:46] AreenRao opened #46 "more than 2037 clients are not getting connected"
i am using nginx-plus as reverse proxy. here is the code

var aedes = require('aedes')({
  mq: require('mqemitter-redis')(),
  persistence: require('aedes-persistence-redis')({
    port: 6379,
    host: '127.0.0.1',
    family: 4,
    db: 0,
    maxSessionDelivery: 100,
  })
})

var server = require('net').createServer(aedes.handle);
var ws = require('websocket-stream');
var mqtt = require('mqtt')

[2018-07-05 13:34] AreenRao commented on #46
this is solved. my bad.

[2018-09-20 23:32] srados opened #47 "Error: write EPIPE when sending over 20 messages using mosquitto_pub"
Hi,
we use Aedes and aedes-persistance redis here https://github.com/mainflux/mainflux/blob/master/mqtt/mqtt.js and we seem to have problem when trying to publish more than 20 messages using mosquitto_pub using qos1 or qos2.
After 20 messages, we start getting messages like this one `"Error: write EPIPE\n    at WriteWrap.afterWrite [as oncomplete] (net.js:788:14)"`
I guess connection gets closed s

[2018-09-21 08:01] mcollina commented on #47
It's very hard to tell. Can you reproduce it with just plain Aedes and isolate the problem?

[2018-09-21 08:08] srados commented on #47
You mean switch off redis? BTW when I do mqtt pub using my client (golang with github.com/eclipse/paho.mqtt.golang library), then everything works fine.

[2018-09-21 09:49] mcollina commented on #47
That code is part of your mainflux product. I'm __not__ debugging that (I'm happy to do that for a fee, but not for free, I'm sorry).

I'm happy to have a look to a well defined example that reproduce the issue, built with a minimal set of dependencies.

[2018-09-21 10:01] srados commented on #47
ok, thanks, I'll try to make an example and if I succeed, I'll post it here.

[2018-09-21 10:57] srados commented on #47
Hi again, here is more isolated example.
The aedes code is exactly as in the example on the project page (https://github.com/mcollina/aedes#example)

The mosquitto_pub command is
`mosquitto_pub -q 2 -t testtopic -h localhost -d -l < /tmp/messages`

where the `/tmp/messages` is just a file with 10k lines
It usually manages to publish first 20-40 messages.

[2018-09-30 18:36] srados commented on #47
Hi, any updates on this one? I'll be happy to provide additional info if you need it.

[2018-09-30 20:48] mcollina commented on #47
Unfortunately I have no time to look into this. If you find the time and
put in a PR, I’ll be happy to reviews.

Il giorno dom 30 set 2018 alle 20:36 Sava R. <notifications@github.com> ha
scritto:

[2018-10-01 10:51] srados commented on #47
Unfortunately, I'm not a JS expert, so I'm closing this.

[2019-10-03 18:29] behrad opened #55 "lots of tests failing with aede-cached-persistence v8"
@mcollina Why?

[2019-10-03 18:32] behrad commented on #55
this seems to be related to aedes-persistence v7.1.1 @gnought Can you check this out?

[2019-10-04 09:26] dusanb94 opened #56 "TypeError: Cannot read property 'split' of undefined"
The error occurs [here](https://github.com/mcollina/aedes-persistence-redis/blob/d3d0e054a3ee4c12eaf0e5441ada25e53d5a504d/persistence.js#L380). Steps to reproduce:

1. Subscribe with QoS2
2. Receive `PUBLISH` message from the broker
3. Exit client after storing the message, but without sending corresponding `PUBREC`
4. Restart broker (cleaning message ID cache)
5. Restart client

I tried writing a

[2019-10-04 09:44] behrad commented on #56
can you propose a PR @dusanb94 ?

[2019-10-04 11:12] dusanb94 commented on #56
Also, this line is important for persistence errors:
https://github.com/mcollina/aedes/blob/5a82b9979a94d4063c9d61accbde4e2b878b2d8a/lib/handlers/pubrec.js#L23
I'm not sure for other errors, but for the one this issue addresses, I think that it's just fine to log the warning and proceed as if the error didn't happen. According to the [official MQTT 3.1.1 spec](http://docs.oasis-open.org/mqtt/mqtt/

[2019-10-04 12:15] mcollina commented on #56
I'm not really sure about that. Essentially, it's the act of receiving the PUBREC that errors. If that fails, we are definitly losing information.

[2019-10-04 13:12] mcollina commented on #55
They have been deemed necessary to fix some compatibility with the MQTT spec. This would require some update here.

[2019-10-04 13:34] dusanb94 commented on #56
@mcollina Thanks for the quick answer. I'll doublecheck MQTT spec and Aedes code and, if I find that this error handling makes sense, I'll open an issue on Aedes repo so that we can continue this discussion there.

[2019-10-04 13:38] behrad commented on #55
Can you help with this @gnought ?

[2019-10-07 16:54] dusanb94 commented on #56
@behrad I've sent a pull request for this issue(#57). Can you, please, review and leave your comments or merge if all good?

[2019-10-09 18:04] #47 closed

[2019-10-11 09:56] dusanb94 commented on #56
@mcollina @behrad I've been testing this issue and the PR I've sent solves the problem in a protocol-compliant way ([error handling is described here](http://docs.oasis-open.org/mqtt/mqtt/v3.1.1/os/mqtt-v3.1.1-os.html#_Toc398718110)). However, this does not solve the cause of the problem, which is in step 4 (Restart broker - cleaning message ID cache). If I repeat the whole test skipping this step

[2019-10-11 10:05] mcollina commented on #56
I'm lost. I think we'd need a failing test.

[2019-10-11 10:17] dusanb94 commented on #56
I have a code snippet, but it's written in Go. As I already mentioned, I was not able to get this error using mqtt.js. Nonetheless, even if there is something buggy on the client-side, the broker must not fail. I'll send you the Go snippet (I can build a binary if you want) and steps so that you can test it.

[2019-10-14 12:22] drasko commented on #56
@mcollina @dusanb94 here is the Go test that breaks the broker: https://github.com/vernemq/vernemq/issues/1312#issuecomment-533108442

It does not break Verne, but makes Verne disconnect the client.

Same code does not break Mosquitto, not it disconnects the client (only logs a warning).

Problem is [reported](https://github.com/eclipse/paho.mqtt.golang/issues/359) to Paho MQTT lib as well, and PR

[2019-10-15 16:37] dusanb94 commented on #56
Please have in mind [this comment](https://github.com/vernemq/vernemq/issues/1312#issuecomment-540995560), also. As far as I know, this applies to MQTT 3.1.1, as well.

[2019-11-03 09:55] #56 closed

[2019-12-24 11:18] mcollina commented on #55
Ping, this will need some help.

[2020-01-24 08:53] #7 closed

[2020-01-24 08:55] robertsLando commented on #10
@mcollina @behrad  can this be closed?

[2020-02-26 16:25] robertsLando opened #63 "[feat] Cache size option"
Should this be an option?

https://github.com/moscajs/aedes-persistence-redis/blob/bd60484535a72bf3138c9659fa6fc0c61f591631/persistence.js#L37

[2020-02-26 20:15] gnought commented on #63
What’s the impact if we set to HLRU to 1?

[2020-02-26 21:47] robertsLando commented on #63
It will allow to have just 1 inflight message (Qos1/2), outgoingUpdate/outgoingClearMessageId will throw error when don’t find the key on the cache

[2020-02-28 16:16] #55 closed

[2020-06-03 13:29] bhirave opened #71 "[question] Track Redis Calls ?"
I would like to subscribe / observe, how aedes interacting with Redis. Like what operations being called ?

why i would like to do that - Azure `application-insights` AI able to track standard dependencies like `redis`. So that Azure cloud can get insights between micro-services and other services.  `aedes-persistence-redis` is using `ioredis`, so azure AI cant track this dependency yet. I could m

[2020-06-04 07:29] robertsLando commented on #71
@behrad Could you help with this?

[2020-08-10 12:17] demian85 opened #73 "[question or bug] memory usage keeps growing even with TTL"
Hello,

I read issue #45 and realized that many things have improved since then, but I'm still facing unexpected memory usage and I'm really not sure if this is simply because of real usage data or a bug of some kind.

I have an aedes broker running on an EC2 instance and configured to use a Redis cache.t2.small instance (~1GB)
As you can see in the graph, I doubled it in size after reaching the m

[2020-08-10 12:45] demian85 commented on #73
After looking randomly at the keys and the data stored, I don't fully understand the data structure.

For example, I have the following value for key `packet:7eb506c3-95b2-4af2-a7e3-2b30151cc395:1701831`
[code]

Can you please explain what is the brokerId? Does that change after every server restart? May I have thousands of duplicated packets stored in memory?

[2020-08-10 12:53] mcollina commented on #73
You have a QoS 1 offline subscription for the given topic. Essentially your database is getting filled by packets that will be delivered when some client will come back.  This logic is implemented in https://github.com/moscajs/aedes-persistence-redis/blob/ed674daaf50c23ed19d8ae140ee934b51d9afdb5/persistence.js#L287-L322

[2020-08-10 15:07] demian85 commented on #73
Okay, but that doesn't tell me anything useful. Is that the expected behavior? Are the packets being duplicated? Why are you storing duplicated packages for different clients? How can I fix this?

[2020-08-10 15:15] mcollina commented on #73
By looking again, it seems there is not a matching `mdel` operation in https://github.com/moscajs/aedes-persistence-redis/blob/ed674daaf50c23ed19d8ae140ee934b51d9afdb5/persistence.js#L300. This might actually be a genuine bug.

[2020-08-10 17:33] demian85 commented on #73
Can someone please confirm this? I have a broker in production relying on this persistence module and I will soon have to scale the Redis instance up again, which costs a lot of money. I'm thinking on moving to another persistence method on disk.
Also, not sure how can I remove duplicated payloads without breaking production. That should free some memory.

[2020-08-10 18:02] mcollina commented on #73
I would recommend __you__ to do the analysis and fix. I'm happy to review a PR with whatever change is needed (if at all). Second best option is for you to hire somebody from the maintainer team to look into this for you. The third option is that somebody would take a look.

I'm sorry but I have been badly scarred in the past by companies/startups asking me to debug/fix their production server for

[2020-08-10 18:05] robertsLando commented on #73
I'm on holiday right now, I will be back next Monday and I could take a look at this

[2020-08-10 19:31] demian85 commented on #73
I will scale up the Redis instance once more until this is fixed. I would spend a lot of time trying to understand this module.
Also, not even sure why you would need to delete a key. I would expect a key to be replaced each time a new value comes in with a TTL instead. This bug does not make sense to me.
Isn't this module supposed to store a single copy of the last packet published per topic?

[2020-08-17 08:30] robertsLando commented on #73
@demian85 What I could suggest right now is to use mqemitter-redis with aedes-persistence-mongodb for the best performances (also in my benchmark tests seems this is the best setup with high loads).

About your bug, I think @behrad could tell us more about that.

@mcollina Could you better explain this?

[2020-08-17 08:47] mcollina commented on #73
https://github.com/moscajs/aedes-persistence-redis/blob/2857d2f75b157fc7258af972f6ce45d805212a19/persistence.js#L116 might be missing a corresponding `mdel` or something

[2020-08-17 08:54] robertsLando commented on #73
BrokerId is the unique identifier of a specific broker instance. It might change on restart if you don't set it: https://github.com/moscajs/aedes/blob/master/aedes.js#L44

I suggest to give it a fixed id so (an incremental instance number) like: `borker_1` `broker_2` and so on.

[2020-08-24 12:16] demian85 commented on #73
So may this be an issue or not? Are you saying that every time I restart the broker the old keys will stay there and new keys will be created again for new published retained/qos>0 messages? Does this make sense?
The broker is always the same... so if this happens I may have like thousands of duplicated payloads stored in Redis... how can I clean this up without breaking the production broker?
Als

[2020-08-24 12:34] robertsLando commented on #73
@demian85 It's not an issue, YOU should recreate brokers and assign them a specific brokerid

[2020-08-24 12:46] demian85 commented on #73
Good. Can someone please update the docs to make this clear and to avoid someone else shooting himself in the balls?

[2020-08-24 16:50] demian85 commented on #73
Also, I would greatly appreciate it if someone told me how to recover from this.
I updated the broker ID to make it static. Which keys should I delete from Redis so I can do a fresh start?
Is it okay to set a TTL to all `packet:*` keys? What about the `outgoing:*` keys?

[2020-08-25 06:23] robertsLando commented on #73
@demian85 are you using Aedes for production purposes? Why not start contributing? By adding some code or by sponsor it?

I started contributing to Aedes because I use it in production and I had found some bugs, no one pays me for fixing things, it's OSS and everyone should contribute to it. I think you have the ability to fix the docs at least by submitting a PR, I could too but at this point I o

[2020-09-02 19:59] demian85 commented on #73
Yeah, I'd love to contribute, but honestly, I do not have time at the moment.
Also, what should I do to help? I'm not asking for features, I'm just asking how to use this module properly.

This is the memory usage graph after setting a static id for the broker and starting from scratch with a new Redis instance. Is this normal? There should be a peak and stay there. The number of connected devices

[2020-09-03 06:57] robertsLando commented on #73
What qos level are you using? How many messages does your devices send? msg/s I mean

[2020-09-03 07:21] robertsLando commented on #73
@mcollina

 https://github.com/moscajs/aedes-persistence-redis/blob/ed674daaf50c23ed19d8ae140ee934b51d9afdb5/persistence.js#L300

Isn't it this:

https://github.com/moscajs/aedes-persistence-redis/blob/ed674daaf50c23ed19d8ae140ee934b51d9afdb5/persistence.js#L461

?

[2020-09-03 21:47] demian85 commented on #73
I have around 2000 connected devices and ~500 pubs per minute. There is only one topic per device with qos=1 and retained=1, other topics are qos=0 and no retain.
I can see ~147k keys and still increasing. Not sure why there isn't just one key per packet per topic. I don't have more than 10k devices/topics. Numbers are way out of bounds...
99% of the keys look like this:
`packet:<broker-id>:<some-

[2020-09-04 06:16] robertsLando commented on #73
Ok so the leak could be

https://github.com/moscajs/aedes-persistence-redis/blob/master/persistence.js#L295
https://github.com/moscajs/aedes-persistence-redis/blob/master/persistence.js#L455
https://github.com/moscajs/aedes-persistence-redis/blob/master/persistence.js#L461

The number you swe there is the broker counter, could be useful to know also the value of such keys in the db, alspo are you

[2020-09-04 13:29] demian85 commented on #73
There are many clients connecting to the broker. All devices use
clean=false, some users use clean sessions, others do not. Only users
subscribe to the topic with retained values.

On Fri, Sep 4, 2020 at 3:16 AM Daniel Lando <notifications@github.com>
wrote:

[2020-09-04 13:51] robertsLando commented on #73
I think that this could be caused by clients with clean session set to `false`

[2020-09-04 14:00] robertsLando commented on #73
Based on your logs it seems that you have some active session on server side that is never restored by the device/user and keeps storing packets on redis.

[2020-09-04 15:13] mcollina commented on #73
You have a TTL of one moth.. you should check the TTL of those keys with https://redis.io/commands/ttl.

[2020-09-04 16:03] #73 closed

[2020-09-04 16:26] demian85 commented on #73
I checked TTL of some keys and they are in the range 20d-29d.

Why is this closed? Not sure which is the solution. I'm confused with clean sessions... should I use clean or not clean sessions? I just need clients to get the last retained message published on a certain topic.

[2020-09-04 16:49] robertsLando commented on #73
@demian85 it's very clear now where the bug is, it's not on aedes or redis but it'a a user error. Before usign a protocol you should check its basis like clean flag in this case, make all sessions clean true and remove all those entries from redis, you will not expect such memory increases anymore.

[2020-09-04 18:08] demian85 commented on #73
Sure. Except those devices may not be using clean=false and I would need to upgrade 10k devices out there just because the persistence library cannot handle clean=false?
Still not sure which is the issue, if all clients use the same clientId when connecting, why would the memory usage increase? Where is the user error? I thought that clean sessions were an MQTT protocol feature, not a limitation..

[2020-09-04 18:26] robertsLando commented on #73
It's not an issue with the broker you would have the same memory leak with another broker, it's your fault based on what we can see there, also based on your previous response I don't think you know the use of clean flag if you only would receive latest retained message, that is not the purpose of persistent sessions and you would archive the same goal with clean sessions (without any leak). Even

[2020-09-06 21:46] demian85 commented on #73
Well, thanks for your reply.  I read this chapter that explains persistent sessions: https://www.hivemq.com/blog/mqtt-essentials-part-7-persistent-session-queuing-messages/
But honestly, there is still one thing I don't understand. I wonder if you could enlighten me:
When it says what is stored in a persistent session it states "All new QoS 1 or 2 messages that the client missed while offline.". D

[2020-09-06 23:06] mcollina commented on #73
If you use QoS 1 or 2 with clean false, _all_ the messages will be persisted.

[2020-09-06 23:21] demian85 commented on #73
Wow. This is my last question: why the hell would I persist all the
messages published in a topic if clients will only get the last one
retained? Still very confused. I will investigate on my own then. Thanks.

On Sun, Sep 6, 2020, 20:06 Matteo Collina <notifications@github.com> wrote:

[2020-09-07 05:34] mcollina commented on #73
Clients with QoS 1 & 2 will get all messages when reconnected with the same clientId.

[2020-09-07 07:26] robertsLando commented on #73
The answer to your question is very clear, if one of your device is taking metrics from a specific sensor (historical data) persistent sessions are an easy way to archive this, without any custom offline queue implementation.

[2020-10-05 11:46] demian85 commented on #73
Hello. I'm coming back to this because I made some changes to the code so that *almost* every client out there uses clean = true when connecting. I still cannot be sure about the firmware some devices are using, and also, there is an Android and iOS SDK out there... out of my hands.
Unfortunately, my Redis instance memory still keeps increasing forever, even with a key TTL of one week.
Is there a

[2020-10-05 15:16] robertsLando commented on #73
@demian85 Try with https://github.com/moscajs/aedes/blob/master/lib/client.js#L378, call that once a client connects

[2020-10-05 16:06] demian85 commented on #73
Docs say "Clear all outgoing messages (QoS > 1) related to this client from
persistence". I'm not using QoS > 1, so not sure what that will do then.
Basically, I need a method like "deleteAllTheClientPersistedShit" or force
a clean session when it connects, even if the client specified to NOT use a
clean session.

On Mon, Oct 5, 2020 at 12:17 PM Daniel Lando <notifications@github.com>
wrote:

[2020-10-06 06:21] robertsLando commented on #73
You could use [preConnect](https://github.com/moscajs/aedes/blob/master/docs/Aedes.md#handler-preconnect-client-callback) to set the clean flag. About deleting all client persistence stuff, you could check persistence keys and do an `hdel` for them, just keep the retained if you are interested in them

[2021-01-03 01:19] mogupta opened #85 "[feat] Redis cluster load unbalanced across nodes"
**Is your feature request related to a problem? Please describe.**
When I load ttest aedes with redis persistence I found that only one of the six nodes gets very high CPU (100%) and the others are under 5% during the load test. The reason being retained records are all stored on that node. Digging into the code I see that all retained records are stored with 'retained' key and not something like

[2021-01-03 02:23] mcollina commented on #85
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2021-03-26 16:46] jbaramidze opened #90 "[bug]"
**System Information**
- Aedes: 0.44.0
- NodeJS: 14.15.4
- OS: macOS 10.15.7 / Darwin 19.6.0
- Arch: x86_64

**Describe the bug**
aedes-persistence-redis crashes when trying to send retained message of QoS=2

**To Reproduce**

- Launch Aedes broker with `aedes-persistence-redis` persistence layer. I have used `mqtt-cli` package for it, with the following config:
[code]
- Connect with a client `C1`

[2021-03-26 16:57] jbaramidze commented on #90
To help with reproducing, client codes:
C1:
[code]

C2:
[code]

[2021-03-28 09:23] robertsLando commented on #90
@jbaramidze Are you able to submit a PR to fix the issue? It seems you have found the line causing the bug

[2021-03-31 11:43] tomekt-bolt opened #92 "[bug] outgoingUpdate clears the packet TTL"
**System Information**
- Aedes: 0.42.5
- NodeJS: v14.15.4
- OS: MacOS 10.15.7
- Arch: x86_64

**Describe the bug**
The `outgoingUpdate` operation clears the packet's TTL which may result in a dangling entry in redis.

**To Reproduce**
Steps to reproduce the behavior:
1. Subscribe two different clients to the same topic and disconnect them.
2. Publish message with QoS >= 1 and a defined TTL.
3. Re-

[2021-04-12 08:13] #92 closed

[2022-05-20 15:22] seriousme opened #97 "[suggestion] add stale issue handling to github actions"
I noticed that there quite some dated issues that are still open.

My suggestion would be to create a workflow action that automatically closes dated issues after a certain number of days of inactivity.

I use one myself based on githubs https://github.com/actions/stale action.
E.g.:
https://github.com/seriousme/fastify-openapi-glue/blob/master/.github/workflows/closeStale.yml

An example of this

[2022-05-23 16:29] seriousme commented on #97
Ok

[2022-05-23 16:29] #97 closed

[2022-06-09 11:49] b-sirius-a1v opened #98 "what is outgoing:undefined in redis[question]"
System Information

* Aedes: 0.47.0
* aedes-persistence-redis: 9.0.0
* NodeJS: v16.14.2
* OS: MacOS 11.2.2

I'm using a translator

##### Describe the bug
`outgoing:undefined` is generated when broker is restarted with client of qos=1
When a client goes offline and back online, the broker no longer provides a buffer for the client

To Reproduce
Steps to reproduce the behavior:

* Launch Broker
* c

[2022-06-10 08:52] b-sirius-a1v commented on #98
@robertsLando

Thank you very much
Your help worked for me

I have some questions
* Can I continue to use this version in a production environment?
* maxSessionDelivery appears to be limiting packets to be sent to clients in outgoing, is it correct?
* If yes, but maxSessionDelivery was sending packets beyond my expectation

[2022-06-10 15:37] robertsLando commented on #98
@seriousme I think we may have a regression here, maybe introduced by the sanity check on keys?

[2022-06-10 17:59] seriousme commented on #98
It will be some sort of regression if it works on 8.0.1, however `encodeURIcomponent` is present in NodeJS since version [0.10](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/encodeURIComponent).

@b-sirius-a1v  if you try the following:

[code]
Where 'blah' is replaced by the real name of C1, do you then get `undefined` ?

Kind regards,
Hans

[2022-06-10 19:04] seriousme commented on #98
I just checked, I can reproduce the problem e.g.:

Running `npm test` while `redis-cli monitor` is active gives things like:

[code]

However I also see many `rpush` records containing a correct client ID:
[code]

I will check later to see if I can find which test(s)  cause the `undefined`.

Kind regards,
Hans

[2022-06-10 22:38] seriousme commented on #98
Ok, there were 7 occurences of `undefined` in Redis Monitor generated by `npm test`

The first 3:
[code]
are caused by:
https://github.com/moscajs/aedes-persistence/blob/main/abstract.js#L1483
Where:
[code]
needs to be added to the `client` object.

The next 3:
[code]
are caused by:
https://github.com/moscajs/aedes-persistence/blob/main/abstract.js#L1515
Where:
[code]
needs to be added to the `cli

[2022-06-11 11:33] seriousme commented on #98
Small update: I just tried to replicate the issue on `aedes-persistence-redis@8.0.1` with the following steps:
[code]
The subscriber now sees `message1`

[code]
The subscriber only sees `message3` and not `message2`.

So the problem seems to be older than 9.0.0.

KInd regards,
Hans

[2022-06-11 12:17] seriousme commented on #98
Ok, my bad :-(
The exact scenario is:

[code]
This shows `message1` on 8.0.1

Now we stop everything, including Redis to clean the cache !
We upgrade to 9.0.0 repeat the procedure and `message1` does not show up :-(

The Redis Monitor log shows for 9.0.0:

[code]

The Redis Monitor log shows for 8.0.1:

[code]

The major difference being in 9.0.0:
[code]
instead of in 8.0.1:

[code]

Now earlier t

[2022-06-11 17:46] seriousme commented on #98
OK, I did some more digging and found the issue :-)

The issue is not with the `rpush` but with rebuilding the trie on startup, caused by https://github.com/moscajs/aedes-persistence-redis/pull/96/commits/7d517a70948f1fb44d7dd650c491bd382c10e9b4.

Unfortunately in:
https://github.com/moscajs/aedes-persistence-redis/blob/10a9fc8009dbc87e7be1a6c370057f9e9c95a0a3/persistence.js#L232

we should have p

[2022-06-11 17:52] seriousme commented on #98
Btw: having some method of type checking would have helped in avoiding the need for all 3 PR's ;-)

[2022-06-12 10:04] seriousme commented on #98
One more thing:
[code]
seems to be a bug in Aedes itself, caused by inconsistencies in the interface  :-(

The sequence comes from the [delWill function](https://github.com/moscajs/aedes-persistence-redis/blob/master/persistence.js#L450).

What seems to be a bit odd is that `dellWill` gets its brokerId as a parameter from Aedes where `getWill` and `putWill` rely on `this.broker.id` in `aedes-persi

[2022-07-08 12:38] friesendrywall commented on #98
I think this is still broken.

relevant package dependencies
    "aedes": "^0.47.0",
    "aedes-persistence": "^9.1.2",
    "aedes-persistence-redis": "^9.0.0"

in subscriptionsByTopic, I'm logging as follows:
[code]

which yields -
[code]

Which of course inserts undefined

[2022-07-08 21:28] friesendrywall opened #101 "[question]Session expiration implementation"
MQTT 5 allows session expiration, so at some point if someone decides to move ahead with implementation, the persistence modules will need some work done.  At present I'm considering incorporating it into a MQTT 5 server I've been working on.

What would the roadmap be for this to happen, would the work have to start with aedes-cached-persistence, or would it have start with the individual persist

[2022-07-09 06:30] robertsLando commented on #101
This needs to be implemented on aedes-persistence first and then aedes-cached-persistence and at last on all other persistences. The plugin way isn't good IMO

[2022-07-09 14:32] friesendrywall opened #102 "[question]"
Why was a list chosen for the WILLSKEY store?  The main thing I notice is that device are duplicated in the will list, and I'm wondering if there was some reason for this decision that I'm not aware of.

![Screenshot 2022-07-09 10 31 44](https://user-images.githubusercontent.com/5509710/178110199-c2c5e165-5e3a-45d6-bfb6-dd00e8d05522.png)

[2022-07-09 21:55] friesendrywall opened #103 "[bug]Wills not sending on server restarts"
**System Information**
- Aedes: 0.47.0
- NodeJS: 14.15.4
- OS: Win 7 x64
- aedes-persistence-redis
- aedes id non random static name

**Describe the bug**
Wills never send out after a server restart when using redis persistence on a single aedes instance.

**To Reproduce**
Steps to reproduce the behavior:
1. Start single server
2. Connect device to server, sending a will on connect
3. Shut down se

[2022-07-12 11:45] robertsLando commented on #102
I didn't create this package so I dunno the main reason behind this choice, would you try to submit a PR to fix this issue?

[2022-08-01 09:17] robertsLando commented on #103
This is a PR that should be fixed on Aedes side

[2022-08-01 09:17] #103 closed

[2022-10-27 06:21] AnthonyLzq opened #105 "[question] TypeScript support"
Is there any plan to add support for TS in the near future?

[2022-10-28 07:35] robertsLando commented on #105
Would you like to submit a PR?

[2022-11-15 03:31] taehee-gitple opened #107 "[question] Redis Sentinel support"
Is there a way to use Redis sentinel?

I use redis sentinel.
I'd like to connect Redis Sentinel with Aedes and use it.

[2022-11-15 07:12] robertsLando commented on #107
Never used it so no clue, did you tried?

[2022-11-15 13:30] robertsLando commented on #107
All good so :)